/* ---------- Base ---------- */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --navy: #060e1c;
    --navy-light: #071a36;
    --orange: #ffb347;
    --orange-dark: #f7a101;
    --text-main: #111111;
    --bg: #a09c9c;
    --card-bg: #ffffff;
    --gray: #dddddd;
    --purple: rgba(87, 13, 109, 0.667);
    --pink: #da23cd;
    --green: #15a02e; 
    --blue: #2a84d9; 
    --light-red: #d34646; 
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "lexend";
    background: var(--bg);
    color: var(--text-main);
}


.link-button {
    text-decoration: underline;
    color: #f7a101;
}

/* ---------- Header & Nav ---------- */

.site-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    background-color: #060e1c;
}

.inner-header {
    display: flex;
    align-items: center;
}

.logoarea  {
    height: 80px;
    margin: 1rem 0;
}

.logoimg {
    margin-top: -10px;
    margin-bottom: 0px;
    max-height: 100px;
    max-width: 100px;
    display: flex;
}

/* Navigation list */
.main-nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: "lexend";
}



.divider {
    width: 3px;
    height: 27px;
    background-color: #f7a101;
    display: inline-block;
    border-radius: 20px;
}


.main-nav a:hover::after,
.main-nav a:focus-visible::after {
    width: 100%;
}

.main-nav a:hover {
    text-decoration: underline;
    color: #f7a101;

}

#menu-toggle {
  display: none;
}

/* hamburger */

.hamburger {
  position: absolute;
  right: 16px;
  top: 7%;
  transform: translateY(-50%);
  width: 30px;
  height: 20px;
  display: none;                  
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #ff9f1c;      
  border-radius: 999px;
}
.close-btn {
 display: none;
  position: absolute;
  right: 15px;
  top: 20%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 600;
  color: #e99013;
  cursor: pointer;
  
 
}

/* mobile */

@media (max-width: 900px) {

 
  .hamburger {
    display: flex;
  }
  .close-btn {
    display: flex;
  }

  #menu-toggle:not(:checked) ~ .hamburger {
    display: flex;
  }

  #menu-toggle:checked ~ .hamburger {
    display: none;
  }

  #menu-toggle:checked ~ .close-btn {
    display: flex;
  }
  #menu-toggle:not(:checked) ~ .close-btn {
    display: none;
  }

  .main-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0%;                   
    background-color: #07101f;
    display: none;               
    z-index: 10;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding: 10px 20px 15px;
  }

  .main-nav li {
    padding: 8px 0;
  }

 
  .divider {
    display: none;
  }

  .main-nav a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 1rem;
  }

 
  #menu-toggle:checked ~ .main-nav {
    display: block;
  }
}


/* MAIN */ 


.error-page {
background-color: #a09c9c;
display: flex;
justify-content: center;
align-items: center;
padding-top: 0;
}

.error-card {
    text-align: center;
    max-width: 500px;
}

.error-divider {
    width: 60%;
    height: 3px;
    background-color: #000;
    margin: 0 auto 25px;
}

.error-title {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-weight: 900;
    color: #f7a101;
     text-shadow: 
        0 0 2px #000,
        0 0 4px #000,
        2px 2px 4px rgba(0,0,0,0.7);
    letter-spacing: 0.15rem;
    margin-bottom: 10px;
    font-family: "lexend zetta";
}

.error-text {
    font-family: "lexend";
    font-size: 2rem;
    letter-spacing: 0.08rem;
    line-height: 1.6;
    margin-bottom: 40px;
   
}

.error-logo {
    display: block;
    width: 300px;
    height: auto;
    transition: transform 0.2s ease;
    margin: 20px auto 0;
  

}

.error-logo:hover {
    transform: scale(1.05);
}